/* Stile per il logo */
img {
    width: 159px;
    height: 47px;
    top: 268px;
    left: 444px;
    gap: 0px;
    opacity: 1;  /* Ho cambiato l'opacità da 0 a 1 per far apparire l'immagine */
  }
  
  /* Stile per il testo generico (p e a) */
  p { 
    color: #00000099;
    font-family: Roboto;
    font-size: 8px;
    font-weight: 400;
  }
  
  a { 
    color: #00000099;
    font-family: Roboto;
    font-size: 8px;
    font-weight: 400;
  }
  
  /* Stile per il pulsante */
  .Button {
    background-color: blue !important;
    color: blue;
    border-radius: 5px 5px 5px 5px;
  }
  
  /* Personalizzazioni aggiuntive per il layout */
  .container {
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .textField {
    margin-bottom: 16px;
  }