.forgot-pass:hover{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: large;
}
.forgot-pass{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
}